.competencies {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 3em 3em;
}

.competencies-content {
  flex: 1;
  font-family: 'Plain', sans-serif;
  font-size: 1em;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}

.competencies-content h2 {
  margin-top: 0;
  font-weight: 400;
  font-size: 3em;
  line-height: 1.9;
}

.competencies-media {
  flex: 2;
  margin: 0;
  padding: 0;
  margin: 0 auto;
 }

.competencies-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  text-align: center;
}
.competencies-icon {
    padding: 35px 0 35px 0;
    width: calc(100% / 5);
}
