.footer-container {
    font-family: 'Marck Script';
    min-height: 200px;
    background: #0e0e0e;
    grid-auto-flow: column;
    color: white;
    font-size: clamp(0.5rem, 0.8rem + 1vw, 1.5rem);
}

.footer {
    align-items: center;
    justify-content: space-evenly;
}
