/* ---header---<> */
@media (max-width: 1250px) {
  .header-icon,
  svg {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 920px) {
  .header-icon,
  svg {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 450px) {
  @keyframes slidein {
    from {
      margin-left: -100%;
      width: 300%;
    }

    to {
      margin-left: 43%;
      width: 100%;
    }
  }

  .header-container {
    min-height: 150px;
    grid-auto-flow: row;
    grid-gap: 0.1rem;
  }

  .heading {
    justify-items: center;
    margin-left: 0;
  }

  .heading,
  h1 {
    font-size: 2rem;
  }

  .icons {
    justify-content: space-evenly;
  }

  .header-icons {
    justify-items: center;
    align-items: start;
    margin-right: 0;
  }

  .icon-vk,
  .icon-whatsapp,
  .icon-telegram {
    animation-name: none;
  }
}

/* ---header---<> */

/* ---greeting---<> */
@media (max-width: 1250px) {
  .greeting {
    background-size: auto 100%;
    margin-left: 0em;
    background-position: unset;
  }
}
@media (max-width: 1150px) {
    .greeting {
      background-size: auto 100%;
    }
    .text {
        margin: auto;
        margin-left: 5em;
    }
  }

  @media (max-width: 620px) {
    .greeting {
      background-size: auto 100%;
    }
    .text {
        margin: auto;

    }
  }

  @media (max-width: 450px) {
    .greeting {
      background-size: auto 100%;
    }
    .text {
        margin: auto;
    }
    .creative {
        font-size: 40px;
    }
  }

/* ---greeting---<> */


/* ---competencies---<> */
@media (max-width: 1250px) {
  .competencies {
    display: block;
    padding: 5%;
  }

  .competencies-content {
    padding-bottom: 50px;
  }
}

@media (max-width: 920px) {
    .competencies {
        margin: 1em 1em;
    }
}

/* ---footer---<> */
@media (max-width: 450px) {
  .footer-container{
    min-height: 150px;
  }
}
/* ---footer---<> */
