video {
    width: 100%;
}

.qualities {
    padding-top: 15em;
    background-color: #0e0e0e;
    color: #fff;
    font: 15px/1.7 'Plain', sans-serif;
}

.quality {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 15em;
}

.quality h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 3em;
    font-weight: 300;
}

.quality-inner {
    display: flex;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: -3em;
    margin-right: -3em;
}

.quality-content,
.quality-media {
    padding-left: 3em;
    padding-right: 3em;
    width: 50%;
}